.banner {
    background-image: url("https://images.unsplash.com/photo-1618972676849-feed401eacc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWMlMjBnZW5yZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60") ;
    height: 50vh;
    position: relative;

}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 13vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5vh;
    width: 300px;
}
.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
   background-color: white !important;
   font-weight: 900 !important;
   text-transform: inherit !important; 
   color: gray !important;
}

.banner__info > button {
    background-color: gray;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: gray;
}

.banner__info > h5 {
    margin-top: 10px;
}