@font-face {
    font-family: 'Kilo';
    src: url(../fonts/Kilo.otf);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: lightslategray;
}

.header__right {
    display: flex;
    font-family: "Kilo", sans-serif;
    font-size: small;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 20px;
}

.logo {
    font-family: "Kilo", sans-serif;
    font-size: small;
    margin: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
   height: 20px;
   border: 10px solid lightgray;
   border-radius: 999px;
}

.header__center > .search__text {
    border: none;
    padding: 10px;
    outline-width: 1;
    background-color: lightslategray;
    /* width: 200px; */
}
